html,
body {
  height: 100%;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  height: fit-content;

  .card {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    .card-image-container img {
      width: 100%;
      height: auto;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    .card-content {
      display: flex;
      flex-direction: column;
    }
  }
}

mat-card-title {
  font-weight: bold;
  margin-bottom: 8px;
}

mat-card-subtitle {
  font-size: 14px;
  color: #555;
}

/* Responsive Design */
@media (max-width: 800px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
