.container{
    // margin: 2rem;
     padding: 4rem;
    mat-card{
        height: 460px;
        width:300px;
        background-color: white !important;
        .image-content{
            display: flex;
            justify-content: center;
            img{
                cursor: pointer;
            }
        }
        .details{
            display: flex;
            justify-content: space-between;
        }
        mat-card-actions{
            padding-bottom: 1.2rem;
            button{
                background-color: orange;
                color: white;
                margin-right: 0.6rem;
            }
        }
    }
}